.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

#cancel-form {
    float: right;
}

.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
.red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }