<div class="card">
  <div class="card-header card-title">Add Server</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" [formGroup]="serverForm" #f="ngForm">
      <div class="form-group">
        <label for="Hostname">Hostname</label>
        <input type="text" class="form-control" formControlName="hostname" [ngClass]="{ 'is-invalid': submitted && f.hostname && f.hostname?.errors }">
        <div *ngIf="submitted && f.hostname?.errors" class="invalid-feedback">
          <div *ngIf="f.hostname?.errors.required">A valid hostname is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>IP</label>
        <input type="text" formControlName="ip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ip?.errors }" />
        <div *ngIf="submitted && f.ip?.errors" class="invalid-feedback">
          <div *ngIf="f.ip?.errors?.required">A valid IP is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Deadlines</label>
        <input type="text" formControlName="deadline" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.deadline?.errors }"
          #d="ngbDatepicker" ngbDatepicker (focus)="d.toggle()" />
        <div *ngIf="submitted && f.deadline?.errors" class="invalid-feedback">
          <div *ngIf="f.deadline?.errors.required">Deadline is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea rows="3" cols="30" class="form-control" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description?.errors }">
        </textarea>
        <div *ngIf="submitted && f.description?.errors" class="invalid-feedback">
          <div *ngIf="f.description?.errors.required">Description is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!serverForm.valid">Submit</button>
      <button type="button" (click)="doReset(f); hideForm=true;" class="btn btn-primary btn-sm" id="cancel-form">Cancel</button>
    </form>
  </div>
</div>