<div class="container">
  <div class="row">
    <!-- Table of Servers -->
    <div class="col-xs-12 col-md-9">
      <div class="card">
        <div class="card-header card-title">Server Tracker<button type="button" (click)="hideForm=false;" class="btn btn-md btn-primary add-server">Add Server</button></div>
        <div class="card-body row">
          <!-- table component -->
          <div class="col-xs-12 col-md-9">
            <server-table [servers]="servers"></server-table>
          </div>
          <!-- Overdue Server List -->
          <div class="col-xs-12 col-md-3">
            <overdue-servers [servers]="servers"></overdue-servers>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Server Form -->
    <div class="col-xs-12 col-md-3">
      <server-form [servers]="servers" [hidden]="hideForm" #myServerForm></server-form>
    </div>
  </div>
</div>